<script>
    
</script>
<div>
    <h1>감사합니다!</h1>
    <div class = "table_guestBook">
        <p>{{{content}}}</p>
        <p>{{{name}}}</p>
        <p>{{{date}}}</p>
    </div>
    <hr>
    <div class = "table_guestBook">
        <p>{{{content2}}}</p>
        <p>{{{name2}}}</p>
        <p>{{{date2}}}</p>
    </div>
    <hr>
    <div class = "table_guestBook">
        <p>{{{content3}}}</p>
        <p>{{{name3}}}</p>
        <p>{{{date3}}}</p>
    </div>
    <hr>

</div>